asgiref
Django==3.2.23
django-admin-interface==0.26.1
django-colorfield==0.10.1
django-js-asset
django-mptt==0.14.0
django-mptt-admin==2.5.1
Pillow
python-slugify
pytz
sqlparse
text-unidecode
typing_extensions
