{% extends  "admin/base_site.html" %}
{% load i18n static admin_interface_tags %}


{% block branding %}
{% get_admin_interface_theme as theme %}
<table>
    <tr>
      <td>{{ block.super }}</td>
    </tr>
    <tr>
        <td>
           <h1><b>{{ gruppo_utente }}</b>
              <button id="create-book" class="btn btn-primary"  type="button" >Cambia</button>
              <!-- <button hx-get="{% url 'multigroup:cambia_gruppo_modal' %}" hx-target="#dialog" class="btn btn-primary btn-sm">Cambia</button> -->
              <!--<img src="/static/admin/img/icon-changelink.svg" alt="" width="20" height="20" title="Cambia Gruppo">-->
            </h1>
            </a>
        </td>
    </tr>
  </table> 

  <!-- Placeholder for the modal -->
{% endblock %}

{% block welcome-msg %}
{{ block.super }}

{% endblock %}

{% block userlinks %}
{{ block.super }}

{% endblock %}
