


      {% csrf_token %}
          <div class="modal-header bg-primary text-white">
            <h5 class="modal-title" id="exampleModalLabel">Cambia Gruppo</h5>
            <!-- <button type="button" class="btn-close bg-primary" data-bs-dismiss="modal" aria-label="Close">&times;</button> -->
          </div>
          <div class="modal-body">
            <h6>Utente: <span style="text-transform:uppercase"><b>{{ user }}</b></span></h6>
            <p> </p>
            <label for="id_organization" class="form-label">Gruppo:</label>
            {{ form.organization }}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-subtle" data-bs-dismiss="modal">Annulla</button>
            <button type="submit" class="btn btn-primary" >Conferma</button>
          </div>
            
    
